@media screen and (min-width: 428px){
    .intup-footer {
            width: 396px;
        }
}
@media screen and (max-width: 728px){


    .logo-web {
        padding: 24px 0;
        margin-right: 120px;
     
    }
    .nav-bar{
        display: none;
    }
    .social-text{
            text-align: center;
    }
 
    .address-1{
        display: none;
    }
 
    .menu-8{
        display: flex;
            flex-direction: column;
            gap: 72px;
            align-items: center;
    }
    .menu-4{
            display: flex;
                flex-direction: column;
                gap: 72px;
    }
    .first-header{
                margin-left: 40px;
                max-width: 320px;
                text-align: center;
                font-size: 36px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.72px;
                text-transform: capitalize;
    }
    .four-header{
        display: flex;
        justify-content: center;
    }
    .text-2{
        display: flex;
            justify-content: center;
    }
    .text{
        font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.32px;
    }
    .second-header{
            font-size: 36px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.72px;
                text-transform: capitalize;
    }

    .container-svg-5{
        display: none;
    }
        .container-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 0;
    
        }
    
        .social-media {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .form-footer {
            display: flex;
            flex-direction: column;
        }
    
        .container-footer {
            display: flex;
                flex-direction: column;
                align-items: center;
                gap: 72px;

            }
                         .footer-label {
                             width: 100%;
                         }
        }
       
       
    

@media screen and (min-width: 728px) and (max-width: 1158px){
    .container {
        max-width: 768px;
    }

    .logo-web {
        margin-right: 120px;
    }

    .container-svg-5 {
        display: none;
    }

    .nav-menu {
        display: flex;
        gap: 40px;
    }
                .four-header {
                    display: flex;
                    justify-content: center;
                }
        
                .text-2 {
                    display: flex;
                    justify-content: center;
                }
    .nav-bar {
        display: flex;
        gap: 12px;
    }

    .address {
        display: flex;
        padding: 5px;
    }

    .address-nav {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .moblie-button {
        display: none;
    }

    .first-header {
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        max-width: 496px;
        width: 496px;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }

    .second-header {
        text-align: start;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .menu-4 {
        display: flex;
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .section-two-li {
        width: 48%;
    }

    .menu-8 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 24px;
        align-items: center;
        justify-content: center;
    }

    .menu-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
    }

    .section-four-li-v2 {
        width: calc((100% - 24px) / 4);
    }

    .container-footer {
        width: 582px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .logo-web-1 {
        display: flex;
        align-items: flex-start;

    }


    .form-footer {
        display: flex;
        flex-direction: row;
    }

    .container-text {
        align-items: flex-start;
        display: flex;
    }

    .social-media {
        align-items: flex-start;

    }

    .intup-footer {
        width: 264px;
        margin-right: 24px;
    }

    .text-under {
        text-align: start;
    }

    .button-footer {
        text-align: start;
    }
}
@media screen and (min-width: 1158px){
    .container {
            max-width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
        }
    .logo-web{
        margin-right: 120px;
    }
          .four-header {
              display: flex;
              justify-content: center;
          }
    
          .text-2 {
              display: flex;
              justify-content: center;
            
          }
    .menu-8{
        display: flex;
        justify-content: center;
        
    }
        .address-nav {
            display: flex;
            justify-content: center;
        }
    .nav-menu{
        display: flex;
            gap: 40px;
    }
    .address{

      padding: 0;
      margin-right: 40px;
    }
    .nav-bar{
        display: flex;
            flex-direction: row;
            gap: 40px;
    }
    .address-1{
        display: flex;
            flex-direction: row;
            padding: 24px 0;
            gap: 40px;
    }
    .menu-button{
        display: none;
    }
    .section-first{
        margin: 0 auto;
            max-width: 1440px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 188px;
            padding-bottom: 188px;
    }
    .first-header{
                text-align: center;
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 60px;
                    letter-spacing: 1.12px;
                        margin-bottom: 48px;
                            margin-left: auto;
                            margin-right: auto;
                            max-width: 496px;
                            width: 496px;
    }
    .section-second{
        padding: 120px 0;
    }
    .container-svg-5{
            display: flex;
                align-items: center;
                justify-content: center;
                width: 264px;
                height: 112px;
                border-radius: 4px;
                margin-bottom: 8px;
                background-color: #F4F4FD;
    }
          .section-two-svg {
              width: 64px;
              height: 64px;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          .second-header{
                text-align: start;
                    margin-bottom: 8px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
          }
                          .section-two-li {
                              width: calc((100% - 72px) / 4);
                          }
         .text{
            font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
         }
                  .section-three {
                      display: flex;
                  }
                           .section-four {
                               padding: 120px 0;
                           }
        .section-customers{
              
                        padding: 120px 0;
                
        }
        .menu-3{
            display: flex;
                gap: 24px;
                margin: 0;
                justify-content: center;
        }
        .section-four-li-v2{
            height: 88px;
                width: calc((100% - 24px) / 7);
        }
        .container-footer{
                width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 0;
        }
        .container-text{
            margin-right: 120px;
        }
        .text-under{
            display: flex;
            align-items: flex-start;
        }
        .social-media{
            margin-right: 80px;
        }
        .intup-footer{
            width: 264px;
                margin-bottom: 0;
        }
    }